<style>
    .artifact_list ul {
        list-style: none;
        padding: 0;
    }
</style>



<div class=sub_container_header>
    <h1>Artifacts</h1>
</div>
<div class="stats_table artifact_list">
    <ul>
        <li><input type="radio" name="artifact">Flower of Life</li>
        <li><input type="radio" name="artifact">Plume of Death</li>
        <li><input type="radio" name="artifact">Sands of Eon</li>
        <li><input type="radio" name="artifact">Goblet of Eonothem</li>
        <li><input type="radio" name="artifact">Circlet of Logos</li>
    </ul>
</div>