<style>
    .talents {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttons_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .button {
        background: none;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        width: 100%;
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
</style>

{{ selected_character|json_script:"selected_character" }}

<div class="content_header" style="grid-template-columns: .3fr 1fr .3fr;">
    <img class="thumbnail" id="character_img">
    <input type="hidden" id="user">
    <div class="selection">
        <span style="display: flex;">
            <i class="fa fa-bars selection_button" id="char_menu" aria-hidden="true"></i>
            <h2 id="character_name"></h2>
        </span>
        <span>
            Level
            <select class="level" id="char_level">
                <option value="0">1</option>
                <option value="1">20</option>
                <option value="2">40</option>
                <option value="3">50</option>
                <option value="4">60</option>
                <option value="5">70</option>
                <option value="6">80</option>
                <option value="7">90</option>
            </select>
        </span>
    </div>
    <!-- <div class="buttons_container">
        <button class="button" id="reset"><i class="material-icons">restart_alt</i> Reset</button>
        <button class="button" id="reset"><i class="material-icons">handyman</i> Build</button>
    </div> -->
</div>

<div class="stats_table">
    <table>
        <tr>
            <th colspan="2" class="stat_header">Base Stat</th>
            <th colspan="2" class="stat_header">Elemental Bonus (%)</th>
        </tr>
        <tr>
            <td class="stat_title">HP</td>
            <td class="stat_value" id="character_hp"></td>
            <td class="stat_title">Pyro Damage</td>
            <td class="stat_value" id="character_pyroDmg"></td>
        </tr>
        <tr>
            <td class="stat_title">ATK</td>
            <td class="stat_value" id="character_attack"></td>
            <td class="stat_title">Pyro Resistance</td>
            <td class="stat_value" id="character_pyroRes"></td>
        </tr>
        <tr>
            <td class="stat_title">DEF</td>
            <td class="stat_value" id="character_defence"></td>
            <td class="stat_title">Hydro Damage</td>
            <td class="stat_value" id="character_hydroDmg"></td>
        </tr>
        <tr>
            <td class="stat_title">Elemental Mastery</td>
            <td class="stat_value" id="character_em"></td>
            <td class="stat_title">Hydro Resistance</td>
            <td class="stat_value" id="character_hydroRes"></td>
        </tr>
        <tr>
            <td class="stat_title">Stamina</td>
            <td class="stat_value" id="character_stamina"></td>
            <td class="stat_title">Dendro Damage</td>
            <td class="stat_value" id="character_dendroDmg"></td>
        </tr>
        <tr>
            <th colspan="2" class="stat_header">Advanced Stat</th>
            <td class="stat_title">Dendro Resistance</td>
            <td class="stat_value" id="character_dendroRes"></td>
        </tr>
        <tr>
            <td class="stat_title">Crit Rate (%)</td>
            <td class="stat_value" id="character_critRate"></td>
            <td class="stat_title">Electro Damage</td>
            <td class="stat_value" id="character_electroDmg"></td>
        </tr>
        <tr>
            <td class="stat_title">Crit Damage (%)</td>
            <td class="stat_value" id="character_critDmg"></td>
            <td class="stat_title">Electro Resistance</td>
            <td class="stat_value" id="character_electroRes"></td>
        </tr>
        <tr>
            <td class="stat_title">Healing Bonus</td>
            <td class="stat_value" id="character_selfHeal"></td>
            <td class="stat_title">Anemo Damage</td>
            <td class="stat_value" id="character_anemoDmg"></td>
        </tr>
        <tr>
            <td class="stat_title">Incoming Healing Bonus</td>
            <td class="stat_value" id="character_othersHeal"></td>
            <td class="stat_title">Anemo Resistance</td>
            <td class="stat_value" id="character_anemoRes"></td>
        </tr>
        <tr>
            <td class="stat_title">Elemental Recharge</td>
            <td class="stat_value" id="character_recharge"></td>
            <td class="stat_title">Cryo Damage</td>
            <td class="stat_value" id="character_cryoDmg"></td>
        </tr>
        <tr>
            <td class="stat_title">Reduce CD</td>
            <td class="stat_value" id="character_cdReduction"></td>
            <td class="stat_title">Cryo Resistance</td>
            <td class="stat_value" id="character_cryoRes"></td>
        </tr>
        <tr>
            <td class="stat_title">Shield Strength</td>
            <td class="stat_value" id="character_shield"></td>
            <td class="stat_title">Geo Damage</td>
            <td class="stat_value" id="character_geoDmg"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="stat_title">Geo Resistance</td>
            <td class="stat_value" id="character_geoRes"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="stat_title">Physical Damage</td>
            <td class="stat_value" id="character_physDmg"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="stat_title">Physical Resistance</td>
            <td class="stat_value" id="character_physRes"></td>
        </tr>
    </table>
</div>

<script>
    var hp, attack, defence, ascStat, ascension;

    $(document).ready(function () {

        $selected_character = jQuery.parseJSON(JSON.parse($("#selected_character").text()))

        hp = JSON.parse($selected_character[0].fields.hp)
        attack = JSON.parse($selected_character[0].fields.attack)
        defence = JSON.parse($selected_character[0].fields.defence)
        ascStat = $selected_character[0].fields.ascStat
        ascension = JSON.parse($selected_character[0].fields.ascension)

        setHp(hp[0], 0);
        setAttack(attack[0], 0);
        setDefence(defence[0], 0);

        $("#user").val($selected_character[0].fields.user)

        $("#character_img").attr("src", $selected_character[0].fields.pic)
        $("#character_name").text($selected_character[0].fields.name)

        setStats($selected_character[0].fields.em, "em", 0)

        $("#character_stamina").text($selected_character[0].fields.stamina)

        setStats($selected_character[0].fields.critRate, "critRate", 0)
        setStats($selected_character[0].fields.critDmg, "critDmg", 0)
        setStats($selected_character[0].fields.selfHeal, "selfHeal", 0)
        $("#character_othersHeal").text($selected_character[0].fields.othersHeal)
        setStats($selected_character[0].fields.recharge, "recharge", 0)
        $("#character_cdReduction").text($selected_character[0].fields.cdReduction)
        $("#character_shield").text($selected_character[0].fields.shield)

        $("#character_pyroRes").text($selected_character[0].fields.pyroRes)
        $("#character_pyroDmg").text($selected_character[0].fields.pyroDmg)
        $("#character_hydroRes").text($selected_character[0].fields.hydroRes)
        $("#character_hydroDmg").text($selected_character[0].fields.hydroDmg)
        $("#character_dendroDmg").text($selected_character[0].fields.dendroDmg)
        $("#character_dendroRes").text($selected_character[0].fields.dendroRes)
        $("#character_electroDmg").text($selected_character[0].fields.electroDmg)
        $("#character_electroRes").text($selected_character[0].fields.electroRes)
        setStats($selected_character[0].fields.anemoDmg, "anemoDmg", 0)
        $("#character_anemoRes").text($selected_character[0].fields.anemoRes)
        setStats($selected_character[0].fields.cryoDmg, "cryoDmg", 0)
        $("#character_cryoRes").text($selected_character[0].fields.cryoRes)
        setStats($selected_character[0].fields.geoDmg, "geoDmg", 0)
        $("#character_geoRes").text($selected_character[0].fields.geoRes)
        setStats($selected_character[0].fields.physDmg, "physDmg", 0)
        $("#character_physRes").text($selected_character[0].fields.physRes)

    })

    $("#char_menu").click(e => {
        $("#modal").toggle();

        $.ajax({

            method: "GET",
            url: "/ajax/get_characters/",
            dataType: "json",
            success: function (data) {
                data.characters.forEach(item => {
                    $("#modal_body").append(
                        "<button class='selection_item select_character' id=" + item[1] + " value=" + item[0] + ">\
                            <img class='thumbnail' src=" + item[2] + ">\
                        </button>"
                    )
                });
            },
            error: function (e) {
                alert(e.responseText)
            }

        })

    })

    $("#char_level").on("change", function () {

        $index = $(this).val()


        if (ascStat != "hp" && ascStat != "attack" && ascStat != "defence") {
            setStats(ascension[$index], ascStat, 0)
        } else {
            setPercent(ascension[$index], ascStat, 0)
        }

        setHp(hp[$index], 0)
        setAttack(attack[$index], 0)
        setDefence(defence[$index], 0)

    })
</script>