{% extends 'base/base.html' %}

{% block content %}

<style>
    .character_main {
        background-color: #343A40;
        grid-area: main;
    }

    .equipment_main {
        background-color: #343A40;
        grid-area: equipment;
        display: grid;
        grid-template-rows: 1.3fr 1fr;
    }

    .thumbnail {
        border: white 1px solid;
        height: 100px;
    }

    .thumbnail_sm {
        height: 50px;
    }

    .thumbnail_xs {
        height: 30px;
    }

    .content_header {
        display: grid;
        padding: 10px;
    }

    .selection_button {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .level {
        margin-left: 10px;
        padding: 5px;
        width: 70px;
        background: none;
        outline: none;
        color: white;
    }

    .level>option {
        background: #212529;
        padding: 10px;
    }


    .list {
        display: none;
        position: absolute;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .list_item {
        background: #212529;
        padding: 15px;
    }


    .stats_table table {
        width: 100% !important;
        font-size: 15px;
    }

    .stats_table th,
    td {
        color: white;
        padding: 6px 15px 6px 15px;

    }

    .stat_header {
        background: #212529;
        text-align: left;
    }

    .stat_value {
        text-align: right;
        width: 25%;

    }

    .field {

        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="character_main">
    {% include 'content/builder/characterStats.html' %}
</div>

<div class="equipment_main">
    {% include 'content/builder/weaponStats.html' %}
    {% include 'content/builder/artifactStats.html' %}
</div>

<!-- jQuery -->
{% load static %}
<script src="{% static 'js/statsManagement.js' %}"></script>

<script>
    function charSelection() {

        var selectionArea = document.getElementById("char_selection")
        var arrow = document.getElementById("arrow1")

        selectionArea.classList.toggle("active")
        arrow.classList.toggle("up");
        arrow.classList.toggle("down");

    }

    function selectChar(id) {
        document.getElementById("char_id").value = id
        document.getElementById("select_character").submit()
    }
</script>

{% endblock %}