{% extends 'base/base.html' %}

{% block content %}

<style>
    .container {
        /* margin: 1%; */
        width: 100%;
        color: white;
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }

    .sub_container {
        background-color: #343A40;
        margin: 2%
    }

    .sub_container_header {
        margin-bottom: 1%;
        width: inherit;

    }

    .sub_container_body_item {
        margin-right: 1%;
    }

    .tab {
        overflow: hidden;
    }

    .tab_button {
        background-color: #343A40;
        color: white;
        outline: none;
        border: none;
        float: left;
        cursor: pointer;
        padding: 10px;
    }

    .tab_button.active {
        background-color: #212529;
    }

    .tab_content {
        display: none;
    }

    .selection_area {
        position: absolute;
        height: 0px;
        width: fit-content;
        background-color: #212529;
        visibility: hidden;
        overflow: hidden;
    }

    .selection_area.active {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
        grid-template-rows: max-content max-content max-content max-content max-content;
        grid-gap: 5px;
        height: 500px;
        visibility: visible;
        transition: height .5s;
    }

    .character_button {
        margin: 5px;
        border: 2px solid #2B3035;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .character_button img {
        width: 80px;
    }

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 5%;
        margin-bottom: 1%;
        cursor: pointer;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: transform .5s;
    }

    .up {
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transition: transform .5s;
    }
</style>

<div class="container">
    <div class="sub_container">
        <div class=sub_container_header>
            <form id="select_character" method="GET" action="{% url 'builder' %}">
                <input type="hidden" value="" id="char_id" name="character">
            </form>
            <h1 style="padding: 0 15px 0 15px;">{{ selected_char.name }}<i class="arrow down" id="arrow1" onclick="charSelection(this)"></i></h1>
            <div class="selection_area" id="char_selection">
                {% for c in characters %}
                <div class="character_button">
                    <a onclick="selectChar(this.id)" id="{{ c.id }}"><img src="{{ c.pic }}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="sub_container_body">
            {% include 'content/builder/characterStats.html' %}
        </div>
    </div>
    <div class="sub_container">
        <div class="sub_container_body">
            <div id="weapon">
                {% include 'content/builder/weaponStats.html' %}
            </div>
            <div id="artifacts" style="padding: 0 15px 0 15px;">
                {% include 'content/builder/artifactsStats.html' %}
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("defaultOpen").click();

    function charSelection() {

        var selectionArea = document.getElementById("char_selection")
        var arrow = document.getElementById("arrow1")

        selectionArea.classList.toggle("active")
        arrow.classList.toggle("up");
        arrow.classList.toggle("down");

    }

    function selectChar(id) {
        document.getElementById("char_id").value = id
        document.getElementById("select_character").submit()
    }
</script>

{% endblock %}