<style>
    .modal {
        position: fixed;
        display: none;
        background: rgba(1, 1, 1, .7);
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .modal_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .modal_box {
        background-color: #343A40;
        display: flex;
        flex-direction: column;
        height: 570px;
    }


    .modal_header {
        float: right;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: #212529;
    }

    .search {
        background: none;
        color: white;
        font-size: 15px;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        padding: 10px;
        margin: 10px;
    }

    .close {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        margin: 10px;
    }

    .close::after {
        display: inline-block;
        content: "\00d7";
        font-size: 35px;
    }

    .modal_body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow: auto;
        overflow-x: hidden;
        width: 752px;
    }

    .selection_item {
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
</style>

<div class="modal" id="modal">
    <div class="modal_container">
        <div class="modal_box">
            <div class="modal_header">
                <button class="close" id="close_button"></button>
                <input type="text" class="search" id="search_bar" autocomplete="off" placeholder="Search...">
            </div>
            <div class="modal_body" id="modal_body">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', ".selection_item", function (event) {
        $id = $(this).val()

        if ($(this).hasClass("select_character")) {
            $.ajax({

                type: "GET",
                url: "/builder",
                data: {
                    "id": $id
                },
                success: function (data) {
                    document.write(data)
                    document.close()
                },
                error: function (e) {
                    alert(e.responseText)
                }

            })
        } else if ($(this).hasClass("select_weapon")) {
            $.ajax({

                type: "GET",
                url: "/change_weapon",
                data: {
                    "id": $id
                },
                success: function (data) {
                    $("#weapon_container").replaceWith(data)
                    $("#modal").toggle()
                    $("#modal_body").empty()

                    $("#selected_weapon").remove()

                },
                error: function (e) {
                    alert(e.responseText)
                }

            })
        }

    })

    $("#search_bar").keyup(function () {
        var find = $(this).val();
        find = find.substr(0, 1).toUpperCase() + find.substr(1);

        $("#modal_body").children("button").each(function () {
            if ($(this).attr("id").startsWith(find)) {
                $(this).show()
            } else {
                $(this).hide()
            }
        })

    })

    $("#close_button").click(function () {
        $("#modal").toggle()
        $("#modal_body").empty()
        $("#search_bar").val("")
    })
</script>