<style>
    .weapon {}
</style>

{{ selected_weapon|json_script:"selected_weapon" }}

<div class="weapon" id="weapon_container">
    <div class="content_header" style="grid-template-columns: .4fr 1fr;">
        <img class="thumbnail" id="weapon_img">
        <div class="selection">
            <h2 class="selection_button" id="weapon_name"></h2>
            <span>
                Level
                <select class="level">
                    <option>1</option>
                    <option>20</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                </select>
            </span>
        </div>
    </div>

    <div class="stats_table">
        <table>
            <tr>
                <th colspan="2" class="stat_header">Main Stat</th>
                <th colspan="2" class="stat_header">Secondary Stat</th>
            </tr>
            <tr>
                <td class="stat_title">ATK</td>
                <td class="stat_value" id="weapon_attack"></td>
                <td class="stat_title" id="weapon_secondary"></td>
                <td class="stat_value" id="weapon_stat"></td>
            </tr>
            <tr>
                <th colspan="4" class="stat_header">Passive</th>
            </tr>
            <tr>
                <td colspan="4" class="stat_value">
                    <p style="text-align: justify; margin: 5px" id="weapon_passive">
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>

    $(document).ready(function(){

        $selected_weapon =  jQuery.parseJSON(JSON.parse($("#selected_weapon").text()))

        $("#weapon_img").attr("src", $selected_weapon[0].fields.pic)
        $("#weapon_name").text($selected_weapon[0].fields.name)
        $("#weapon_attack").text($selected_weapon[0].fields.attack)
        $("#weapon_secondary").text($selected_weapon[0].fields.statTitle)
        $("#weapon_stat").text($selected_weapon[0].fields.stat)
        $("#weapon_passive").text($selected_weapon[0].fields.passive)
        
        setAttack($selected_weapon[0].fields.attack, 1)
        
    })

    $("#weapon_name").click(e => {
        $("#modal").toggle();
        $.ajax({

            method: "GET",
            url: "/ajax/get_weapons/",
            dataType: "json",
            data: {
                "type": $("#user").val()
            },
            success: function (data) {
                data.weapons.forEach(item => {
                    $("#modal_body").append(
                        "<button class='selection_item select_weapon' id=" + item[1] + " value=" + item[0] + ">\
                            <img class='thumbnail' src=" + item[2] + ">\
                        </button>"
                    )
                });
            },
            error: function (e) {
                alert(e.responseText)
            }

        })

    })
</script>
