<style>
    .stats_table {
        display: flex;
    }

    .stats_table table {
        border-collapse: collapse;
        width: 700px;
    }

    .stats_table th,
    td {
        border-bottom: 3px solid #2B3035;
        color: white;
        padding: 6px 15px 6px 15px;

    }

    .stats_table td {
        background: #343A40;
    }

    .stat_header {
        background: #212529;
        text-align: left;
    }

    .stat_value {
        width: 20%;
        text-align: center;

    }
</style>

<div class="stats_table">
    <div style="margin-right: 5px;">
        <table>
            <tr>
                <th colspan="2" class="stat_header">Base Stat</th>
                <th colspan="2" class="stat_header">Elemental Type</th>
            </tr>
            <tr>
                <td class="stat_title">HP</td>
                <td class="stat_value">{{ selected_char.hp }}</td>
                <td class="stat_title">Pyro Damage</td>
                <td class="stat_value">{{ selected_char.pyroDmg }}</td>
            </tr>
            <tr>
                <td class="stat_title">ATK</td>
                <td class="stat_value">{{ selected_char.attack }}</td>
                <td class="stat_title">Pyro Resistance</td>
                <td class="stat_value">{{ selected_char.pyroRes }}</td>
            </tr>
            <tr>
                <td class="stat_title">DEF</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Hydro Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Elemental Mastery</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Hydro Resistance</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Stamina</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Dendro Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <th colspan="2" class="stat_header">Advanced Stat</th>
                <td class="stat_title">Dendro Resistance</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Crit Rate</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Electro Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Crit Damage</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Electro Resistance</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Healing Bonus</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Anemo Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Incoming Healing Bonus</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Anemo Resistance</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Elemental Recharge</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Cryo Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Reduce CD</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Cryo Resistance</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td class="stat_title">Shield Strength</td>
                <td class="stat_value">-</td>
                <td class="stat_title">Geo Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="stat_title">Geo Resistance</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="stat_title">Physical Damage</td>
                <td class="stat_value">-</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="stat_title">Physical Resistance</td>
                <td class="stat_value">-</td>
            </tr>
        </table>
    </div>
</div>