{% extends 'base/base.html' %}

{% block content %}

<style>
    .container {
        /* padding: 1px; */
        width: 100%;
        color: white;
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }

    .sub_container {
        padding: 3%;
    }

    .sub_container_header {
        margin-bottom: 1%
    }

    .sub_container_body_item {
        margin-right: 1%;
    }

    .divider {
        height: inherit;
        border-left: 2px solid white;
    }

    .tab {
        overflow: hidden;
        border: none;
        background-color: #343A40;
    }

    .tab button {
        background-color: white;
        float: left;
    }
</style>

<div class="container">
    <div class="sub_container">
        <div class=sub_container_header>
            <h2>Builds</h2>
            <form id="select_character" method="GET" action="{% url 'builds' %}">
                <label for="character_id"><p>Character</p></label>
                <select id="character_id" name="character" onchange="characterSelection()">
                    <option value="" selected disabled>-- Select a character --</option>
                    {% for c in characters %}
                    <option value={{ c.id }} {% ifequal c.id selected_char.id %} selected {% endifequal %}>{{ c.name }}</option>
                    {% endfor %}
                </select>
                <label for="playstyle"><p>Playstyle</p></label>
                <select id="playstyle" name="playstlye" onchange="">
                    <option value="" selected disabled>-- Select a playstlye --</option>
                    <option value=0>Auto attack</option>
                    <option value=1>Element Skill</option>
                    <option value=2>Element Burst</option>
                </select>
            </form>
        </div>
        <div class="sub_container_body">
            <h2>Confuguration panel</h2>
            {% include "content/builds/list.html" %}
        </div>
    </div>
    <div class="sub_container">

        <div class=sub_container_header>
            <h2>Results</h2>
        </div>

        <div class="sub_container_body">
        </div>
    </div>
</div>

<script>
    function characterSelection() {
        var selection = document.getElementById("character_id").value
        console.debug(selection)
        if (selection != "") {
            document.getElementById("select_character").submit();
        }

    }
</script>

{% endblock %}