<style>
    .navbar {
        display: flex;
        padding-left: 10%;
        color: white;
        background: #343A40;
    }

    .horizontal-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;

    }

    .list-item {
        width: 100px;
    }
    .list-item:hover{
        background: #212529
    }

    .list-item a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
    }
</style>

<div class="navbar">
    <ul class="horizontal-list">
        <li class="list-item"><a href="">Home</a></li>
        <li class="list-item"><a href="{% url 'builds' %}">Builds</a></li>
        <li class="list-item"><a href="{% url 'builder' %}">Builder</a></li>
        <!-- <li class="list-item"><a>Item 3</a></li>
        <li class="list-item"><a>Item 4</a></li>
        <li class="list-item"><a>Item 5</a></li> -->
    </ul>
</div>